* {
    box-sizing: content-box;
}
a {
    color: goldenrod!important;
}
a:hover {
    background-color: maroon!important;
    max-width: 70%;
}
nav {
    margin: 0px;
    padding: 20px 20px 0px 20px!important;
}
body {
    background-color:black;
    height:98vh;
    width:100%;
}
.font-size-large {
    font-size: 100px!important;
}
.font-size-small {
    font-size: 20px!important;
}
.font {
    color: goldenrod;
    font-family: 'Permanent Marker', cursive;
}

.maroon {
    background-color: maroon;
}